# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/old_frames
/c-code/CMakeFiles
/c-code/cmake_install.cmake
/c-code/CMakeCache.txt
/c-code/lerImagem
/c-code/MakeFile
*.mp4